@model Sps.Pos.Mvc.ViewModel.ProductViewModel
@{
	ViewData["Title"] = "Product Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product Edit</h1>

<br />
<br />
<form asp-controller="Product" asp-action="ProductEdit" enctype="multipart/form-data" id="register-form" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input asp-for="Id" type="hidden" />
	<div class="card">
		<div class="card-header">
		</div>
		<div class="card-body">
			<div class="register-logo" style="text-align:left;">
				<div class="col-12">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="BarCode" class="control-label"></label>
						<input asp-for="BarCode" class="form-control" placeholder="@Html.DisplayNameFor(m => m.BarCode)" />
						<span asp-validation-for="BarCode" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<textarea asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Name)"></textarea>
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="UnitId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="UnitId" asp-items="@Model.UnitList" class="form-control">
							<option value="">--Select Unit--</option>
						</select>
						<span asp-validation-for="UnitId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="PurchaseRate" class="control-label"></label>
						<input asp-for="PurchaseRate" class="form-control" placeholder="@Html.DisplayNameFor(m => m.PurchaseRate)">
						<span asp-validation-for="PurchaseRate" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SalesRate" class="control-label"></label>
						<input asp-for="SalesRate" class="form-control" placeholder="@Html.DisplayNameFor(m => m.SalesRate)">
						<span asp-validation-for="SalesRate" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="DiscountAmount" class="control-label"></label>
						<input asp-for="DiscountAmount" class="form-control" placeholder="@Html.DisplayNameFor(m => m.DiscountAmount)" />
						<span asp-validation-for="DiscountAmount" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="TaxId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="TaxId" asp-items="@Model.TaxList" class="form-control">
							<option value="">--Select Tax--</option>
						</select>
						<span asp-validation-for="TaxId" class="text-danger"></span>
					</div>
				</div>
				<h2>Item Attributes</h2>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="CategoryId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="CategoryId" asp-items="@Model.CategoryList" class="form-control">
							<option value="">--Select Category--</option>
						</select>
						<span asp-validation-for="CategoryId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SupplierId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="SupplierId" asp-items="@Model.SupplierList" class="form-control">
							<option value="">--Select Supplier--</option>
						</select>
						<span asp-validation-for="SupplierId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="ColorId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="ColorId" asp-items="@Model.ColorList" class="form-control">
							<option value="">--Select Colors--</option>
						</select>
						<span asp-validation-for="ColorId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SubCategoryId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="SubCategoryId" asp-items="@Model.SubCategoerList" class="form-control">
							<option value="">--Select SubCategory--</option>
						</select>
						<span asp-validation-for="SubCategoryId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="BrandId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="BrandId" asp-items="@Model.BrandList" class="form-control">
							<option value="">--Select Brands--</option>
						</select>
						<span asp-validation-for="BrandId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SizeId" class="control-label"></label><span class="text-danger">*</span>
						<select asp-for="SizeId" asp-items="@Model.SizeList" class="form-control">
							<option value="">--Select Sizes--</option>
						</select>
						<span asp-validation-for="SizeId" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<label asp-for="ImageFile" class="control-label"></label>
					<input asp-for="ImageFile" style="border:1px solid #e7e7e7;width:100%;" />
					<span asp-validation-for="ImageFile" class="text-danger"></span>
				</div>

				<div class="col-sm-6">
					<div class="form-group checkbox">
						<input asp-for="DisplayOnPas" class="form-check-input" />
						<label asp-for="DisplayOnPas" class="control-label"></label>
						<span asp-validation-for="DisplayOnPas" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group checkbox">
						<input asp-for="IsBatch" class="form-check-input" />
						<label asp-for="IsBatch" class="control-label"></label>
						<span asp-validation-for="IsBatch" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group checkbox">
						<input asp-for="IsDeal" class="form-check-input" />
						<label asp-for="IsDeal" class="control-label"></label>
						<span asp-validation-for="IsDeal" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group checkbox">
						<input asp-for="AddModifierGroup" class="form-check-input" />
						<label asp-for="AddModifierGroup" class="control-label"></label>
						<span asp-validation-for="AddModifierGroup" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-12 text-right">
					<a asp-action="Costomers" asp-controller="Costomer" class="btn btn-warning text-right">
						<i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back to List
					</a>
					<button type="submit" class="btn btn-success btn-flat">
						<i class="fa fa-floppy-o"></i>&nbsp; &nbsp; Update
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}