@model Sps.Pos.Mvc.ViewModel.Security.RegisterViewModel
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<div class="container">

	<div class="card o-hidden border-0 shadow-lg my-5">
		<div class="card-body p-0">
			<!-- Nested Row within Card Body -->
			<div class="row">
				<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
				<div class="col-lg-7">
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
						</div>
						<form asp-controller="Security" asp-action="Register" id="register-form" method="post">
							<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<input asp-for="FirstName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.FirstName)" />
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</div>
								<div class="col-sm-6">
									<input asp-for="LastName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.LastName)" />
									<span asp-validation-for="LastName" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Email)" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<span class="text-danger">*</span>
									<input asp-for="MobileNumber" class="form-control" placeholder="@Html.DisplayNameFor(m => m.MobileNumber)" />
									<span asp-validation-for="MobileNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label asp-for="StreetAddress" class="control-label"></label><span class="text-danger">*</span>
									<input asp-for="StreetAddress" class="form-control" placeholder="@Html.DisplayNameFor(m => m.StreetAddress)" />
									<span asp-validation-for="StreetAddress" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label asp-for="WebSite" class="control-label"></label><span class="text-danger">*</span>
									<input asp-for="WebSite" class="form-control" placeholder="@Html.DisplayNameFor(m => m.WebSite)" />
									<span asp-validation-for="WebSite" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								< asp-for="DateOfBirth" class="control-label"></><span class="text-danger">*</span>
								<div class="input-group date" id="dvDateOfBirth" data-target-input="nearest">
									<input asp-for="DateOfBirth" type="text" class="form-control" placeholder="@Html.DisplayNameFor(m => m.DateOfBirth)" />
									<div class="input-group-append" data-target="#dvDateOfBirth" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-footer">
									<div class="row">
										<div class="col-sm-12 text-right">
											<button type="submit" class="btn btn-success btn-flat">
												<i class="fa fa-user"></i>&nbsp; &nbsp; Register
											</button>
										</div>
									</div>
								</div>
							</div>
							<a href="login.html" class="btn btn-primary btn-user btn-block">
								Register Account
							</a>
							<hr>
						</form>
						<hr>
						<div class="text-center">
							<a class="small" href="forgot-password.html">Forgot Password?</a>
						</div>
						<div class="text-center">
							<a class="small" href="login.html">Already have an account? Login!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
	}
